body{
    text-align: center;
    
}
h1{
   
    padding: 20px;
    
    margin: 50px 25% ;
    
    
}
.pressed{
    box-shadow: 10px 10px 5px rgb(69, 72, 73);
    border: 5px solid rgba(58, 55, 55, 0.321);
    animation-name: example;
  animation-duration: 4s;
}
@keyframes example {
    from{
        margin: 50px 0;
    }
    t0{
        margin-left:50px 25%;
    }
  }
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
